
<%@ page import="ibs_lab1.Credit" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'credit.label', default: 'Credit')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-credit" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-credit" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
						<th><g:message code="credit.counterparty.label" default="Counterparty" /></th>
						<th><g:message code="credit.creditProgram.label" default="Deposit Type" /></th>
						<g:sortableColumn property="interestRate" title="${message(code: 'credit.interestRate.label', default: 'Interest Rate')}" />
						<g:sortableColumn property="lastUpdated" title="${message(code: 'credit.lastUpdated.label', default: 'Frequency')}" />
						<g:sortableColumn property="loanAmount" title="${message(code: 'credit.loanAmount.label', default: 'Deposit Amount')}" />
						<g:sortableColumn property="loanAmount" title="${message(code: 'credit.loanAmount.label', default: 'Result')}" />
					</tr>
				</thead>
				<tbody>

				<g:each in="${ibs_lab1.Deposit.findAll()}" status="i" var="deposit">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
						<td>${fieldValue(bean: deposit.counterparty, field: "userName")}</td>
						<td>${fieldValue(bean: deposit.depositType, field: "alias")}</td>
						<td>${fieldValue(bean: deposit.interestRateType, field: "alias")}</td>
						<td>${fieldValue(bean: deposit, field: "frequency")}</td>
						<td>${fieldValue(bean: deposit, field: "depositAmount")}</td>
						<td>${fieldValue(bean: deposit, field: "result")}</td>
					</tr>
				</g:each>
				</tbody>
			</table>
		</div>
	</body>
</html>
